* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3 {
    margin: 10px 0;
}

p {
    margin: 10px 0;
}

.flex, .anime {
    display: flex;
}

.anime {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #ccc;
}

.left {
    width: 250px;
}

.right {
    flex: 1;
}

.img-sm {
    width: 200px;
}